/* General */
body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  /*background-color: #323840;*/
}

/* Top-Navigation */
.nav{
    list-style:none;
    margin: 0;
    padding:24px 0;
    text-align:center;
}
.nav li{
    display:inline;
    padding:16px;
}
.nav a{
    display:inline-block;
}

/* Top-Navigation Animation */
a {
  padding: 5px;
  position: relative;
  text-decoration: none;
  color: #9aa2af;
}

a:hover {
  color: #fff;
}

a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.23s ease-in-out 0s;
  transition: all 0.23s ease-in-out 0s;
}

a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}



/* Main-content */
.main-content {
  margin-top: 250px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 5em;
  padding: 0;
  margin: 0;
}

h2 {
  color: #9aa2af;
}

#bottom{
  position: fixed;
  text-align: center;
  margin-bottom: 32px;
  width:100%;
  bottom:0;
  font-size: 1.8em;
}

i {
  color: #9aa2af;
}


/**/
/**/
/**/

canvas {
  display: block;
  vertical-align: bottom;
}


/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  z-index:-1;
  width: 100%;
  height: 100%;
  background-color: #323840;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}


/* ---- stats.js ---- */

.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}
